/target
.env
*.db
*.db-shm
*.db-wal
/static
/node_modules


# Added by cargo
#
# already existing elements were commented out

#/target
crates/toothpaste-frontend/node_modules
crates/toothpaste-frontend/tailwind.css
