{% extends "layout.html" %}

{% block title %}
  Paste
{% endblock %}

{% block body %}
  {% if pastes.len() > 0 %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Filename</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

    {% for paste in pastes %}
      {% if paste.filename.is_some() %}
        <tr>
          <th><a href="/paste/{{ paste.id.as_ref().unwrap() }}">{{ paste.filename.as_ref().unwrap() }}</a></th>
          <th><a href="/paste/{{ paste.id.as_ref().unwrap() }}">See</a></th>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="alert alert-info">
    There's no public paste (yet). <a href="/paste/create">Add one</a>.
  </div>
  {% endif %}
{% endblock %}
