<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}{% endblock %}

    <title>{% block title %} - Paste{% endblock %}</title>
    <link rel="stylesheet" href="{{ crate::asset::get_asset_path("main.css") }}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Paste</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/paste/create">New paste</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>