<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}{% endblock %}

    <title>{% block title %} - Paste{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    <div class="container">
      <nav class="navigation">
        <ul>
          <li>
            <a href="/">New paste</a>
          </li>
        </ul>
      </nav>

      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>